.desktopContainer 
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.leftSide 
{
    width: 60%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.rightSide
{
    width: 40%;
    height: 100vh;
    box-shadow: -3px 0px 19px 0px rgba(0,0,0,0.57);
    text-align: center;
    overflow-y: auto;
}

.logBtn 
{
    width: 100%;
    font-size: 1em;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1976D2;
    color: white;
    box-shadow: 0px 0px 19px -6px rgba(0,0,0,0.57);
    border-radius: 5px;
    cursor: pointer;
}

.postLogin
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    font-size: 0.85em;
    color: royalblue;
    margin-bottom: 15px;
}

.formContainer 
{
    width: 90%;
    margin: auto;
}

.rightSide > h1 
{
    text-align: center;
    margin-top: 115px;
}

@media only screen and (max-width: 1000px)
{
    .leftSide 
    {
        width: 50%;
    }

    .rightSide
    {
        width: 50%;
    }
}

@media only screen and (max-width: 800px)
{
    .leftSide
    {
        display: none;
    }

    .rightSide
    {
        width: 100%;
    }
}