.footerContainer 
{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 200;
    padding-top: 50px;
}

.contactContainer
{
    width: 45%;
}

.contactContainer > img 
{
    width: 500px;
}

.form
{
    width: 45%;
}

.firstHalf 
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.formContainer 
{
    width: 100%;
}

.nameAndEmail 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nameAndEmail > input 
{
    width: 45%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    height: 40px;
    border-bottom: solid white 3px;
    outline: none;
    color: white;
    transition: padding-left 0.2s ease;
}

.nameAndEmail > input::placeholder
{
    color: rgba(187, 187, 187, 0.719);
    font-weight: lighter;
}

.nameAndEmail > input:focus 
{
    padding-left: 15px;
}

.nameAndEmail > input:nth-child(2)
{
    margin-right: 30px;
}

.formContainer > textarea 
{
    margin-top: 30px;
    width: 95%;
    height: 200px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: solid white 3px;
    outline: none;
    color: white;
    transition: padding-left 0.2s ease;
}

.formContainer > textarea::placeholder
{
    color: rgba(187, 187, 187, 0.719);
    font-weight: lighter;
}

.formContainer > textarea:focus 
{
    padding-left: 15px;
}

.nameAndEmail > input:focus 
{
    padding-left: 15px;
}

.send 
{
    border: none;
    color: white;
    background-color: #081743;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-top: 15px;
    cursor: pointer;
}

.contacts 
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactInfos
{
    border-right: solid #58C4DD 3px;
    padding-right: 10px;
}

.socials 
{
    padding-left: 10px;
}

.secondHalf
{
    width: 100%;
    padding-top: 100px;
    text-align: center;
    color: white;
}

.footerSeparator
{
    width: 300px;
    height: 5px;
    background-color: #081743;
    margin: auto;
}

@media only screen and (max-width: 1090px)
{
    .form 
    {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }

    .nameAndEmail
    {
        width: 100%;
        flex-wrap: wrap;
    }

    .nameAndEmail > input
    {
        width: 100%;
    }

    .nameAndEmail > input:nth-child(2)
    {
        margin-top: 30px;
        margin-right: 0px;
    }

    .formContainer > textarea
    {
        margin-top: 30px;
        width: 100%;
    }

    .contactContainer > img
    {
        width: 100%;
    }
}