.numContainer
{
    width: 100%;
    height: 250px;
    background-image: url("/images/NumberSection.png");
    position: relative;
    z-index: 200;
}

.darkBg 
{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.num 
{
    color: #FFD500;
    font-size: 2em;
}

.darkBg > div
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.part1 > button,.part2 > button 
{
    font-size: 1.8em;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    height: 100%;
}


@media only screen and (max-width: 800px)
{
    .numContainer
    {
        min-height: 400px;
    }

    .darkBg > div 
    {
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    .darkBg > div > button 
    {
        font-size: 1.5em;
    }
}
