@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.separator
{
  background-color: #58C4DD;
  width: 100px;
  height: 5px;
}

button 
{
  -webkit-tap-highlight-color: transparent;
}
.rec.rec-dot {

  background-color: transparent;

}
.rec.rec-dot.rec-dot_active
{
  box-shadow: 0 0 1px 3px #081744;
  background-color:#081744;
  -webkit-box-shadow: 0 0 1px 3px rgb(73, 73, 116/78%);
 
}
.rec.rec-dot.rec-dot_active:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 1px 3px rgb(73, 73, 116/78%);
  box-shadow: 0 0 1px 3px #081744;
  background-color:#081744;
}


.rec.rec-dot:hover{
  box-shadow: 0 0 1px 3px rgb(6, 6, 51);
  -webkit-box-shadow: 0 0 1px 3px rgba(16, 43, 131, 0.295);
}

.rec.rec-arrow.rec-arrow-right:hover,.rec.rec-arrow.rec-arrow-right:focus,.rec.rec-arrow.rec-arrow-right:active{
  background-color: rgb(6, 6, 51);
  color:#fff;
  
  
}

.rec.rec-arrow.rec-arrow-left:hover,.rec.rec-arrow.rec-arrow-left:focus,.rec.rec-arrow.rec-arrow-left:active{
  background-color: rgb(6, 6, 51);
  color:#fff;
  
}
.image-gallery
{
  width:90%;
  margin-left: 30px;
}
@media only screen and (max-width:700px)
{
  .rec.rec-arrow{
    display: none;
  }
}

