@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.separator
{
  background-color: #58C4DD;
  width: 100px;
  height: 5px;
}

.linkInput:hover
{
  text-decoration: underline;
  cursor: pointer;
}

.linkInput 
{
  color: rgb(0, 114, 167);
}

button 
{
  -webkit-tap-highlight-color: transparent;
}

.rec.rec-dot {

  background-color: transparent;

}
.rec.rec-dot.rec-dot_active
{
  box-shadow: 0 0 1px 3px #081744;
  background-color:#081744;
  -webkit-box-shadow: 0 0 1px 3px rgb(73, 73, 116/78%);
 
}
.rec.rec-dot.rec-dot_active:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 1px 3px rgb(73, 73, 116/78%);
  box-shadow: 0 0 1px 3px #081744;
  background-color:#081744;
}


.rec.rec-dot:hover{
  box-shadow: 0 0 1px 3px rgb(6, 6, 51);
  -webkit-box-shadow: 0 0 1px 3px rgba(16, 43, 131, 0.295);
}

.rec.rec-arrow.rec-arrow-right:hover,.rec.rec-arrow.rec-arrow-right:focus,.rec.rec-arrow.rec-arrow-right:active{
  background-color: rgb(6, 6, 51);
  color:#fff;
  
  
}

.rec.rec-arrow.rec-arrow-left:hover,.rec.rec-arrow.rec-arrow-left:focus,.rec.rec-arrow.rec-arrow-left:active{
  background-color: rgb(6, 6, 51);
  color:#fff;
  
}
@media only screen and (max-width:700px)
{
  .rec.rec-arrow{
    display: none;
  }
}

.fade-in
{
  animation: fadeIn 2s;
}

@keyframes fadeIn 
{
  0% {opacity:0;}
  100% {opacity:1;}
}

.scroll-up
{
  animation: scrollUp 2s;
}

@keyframes scrollUp 
{
  0% {transform: translateY(50px);}
  100% {transform: translateY(0);}
}

.scale-up-hover
{
  transform: scale(1);
  transition: all .2s;
}

.scale-up-hover:hover
{
  transform: scale(1.1);
}

.scale-down-tap,.scale-down-hover
{
  transition: transform 0.2s;
}

.scale-down-tap:active
{
  transform: scale(0.9);
}

.scale-down-hover:hover
{
  transform: scale(0.9);
}

.slide-r2l
{
  animation: slideRTL 2s;
}

@keyframes slideRTL 
{
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-l2r
{
  animation: slideLTR 2s;
}

@keyframes slideLTR 
{
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.delay-0-25
{
  animation-delay: 0.25s;
}

.delay-0-5
{
  animation-delay: 0.5s;
}

.delay-0-75
{
  animation-delay: 0.75s;
}

.delay-1
{
  animation-delay: 1s;
}

.scale-up
{
  animation: scaleUp 1s;
}

@keyframes scaleUp
{
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.scroll-down
{
  animation: scrollDown 1s;
}

@keyframes scrollDown
{
  0% {transform: translateY(-50px);}
  100% {transform: translateY(0);}
}

.focus-padding-scroll-left-without-icon
{
  padding-left: 25px;
  transition: padding-left 0.2s;
}

.hover-padding-scroll-left
{
  padding-left: 0;
  transition: padding-left 0.2s;
}

.hover-padding-scroll-left:hover 
{
  padding-left: 10px;
}

.focus-padding-scroll-left-icon
{
  padding-left: 0;
  transition: padding-left 0.2s;
}

.focus-padding-scroll-left-icon:focus
{
  padding-left: 10px;
} 

.focus-padding-scroll-left-without-icon:focus
{
  padding-left: 35px;
}

